/* page-wide stuff */

/* 
colors:
page head & dark gray bg & light gray bg text: #4a4a4a
cream: #F6EEC4
cream text: #1E5451
dark gray bg text & light gray bg: #e5e5e5
*/


body {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #020202;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 40px;

}


ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    
}

/* hook page stuff */

#pageone {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 18px;
    background-color: #F6EEC4;
    
}

#headerwrapper {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

#pagetitle {
    font-size: 1em;
    font-weight: bold;
    color: #4a4a4a;
}

#navlist {
    font-size: 1em;
    font-weight: lighter;
    color: #4a4a4a
}

.navlink {
    position: relative;
}

.navlink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.navlink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.hookpara {
    font-size: 2.5em;
    color: #1E5451;
    text-align: center;
    padding: 0;
    margin: 16px 0 0 0;
    padding: 0 8px 0 8px;
}

/*why page stuff*/

#whypage {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    min-height: 100vh;
    max-width: 100%;
    margin: 0px;
    padding: 18px;
    background-color: #4a4a4a;
    justify-content: center;
}

.whypara {
    font-size: 1.5em;
    color: #e5e5e5;
    text-align: center;
}

/* my work page stuff*/

#myworkpage {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 18px;
    background-color:#e5e5e5;
    align-items: center;
}

.myworkhead {
    font-size: 1.5em;
    font-weight: bolder;
    color: #4a4a4a; 
}

/* who page stuff */

#whopage {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 18px;
    background-color: #4a4a4a;
    justify-content: center;
    align-items: center;
}

.whotext {
    width: 150ch;
    height: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.whoparaone {
    font-size: 1.25em;
    color: #e5e5e5;
    text-align: center;
}

.doforyouhead {
    font-size: 1.25em;
    font-weight: bold;
    color: #e5e5e5;
    text-decoration: underline;
    margin: 0px;
    padding: 12px;
}

.doforyoutext {
    font-size: 1em;
    color: #e5e5e5;
    text-align: center;
}




/* contact page stuff */

#contactpage {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 26px;
    background-color: #F6EEC4;
    justify-content: center;
    align-items: space-between;
}

.contactpara {
    text-align: center;
    font-size: 1.5em;
    color: #1E5451;
    margin-top: 18px; 
    padding: 18px;   
}

.socialscontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: 2px #1E5451 solid;
}

.socialslistone {
    color:#1E5451;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    margin: 26px auto 18px auto;
}

.socialslisttwo {
    color:#1E5451;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    margin: 26px 18px auto auto;
}

.sociallink {
    position: relative;
}

.sociallink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.sociallink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* footer */

footer {
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
    color: #e5e5e5;
    font-size: .5em;
    padding: 18px;
}


/*responsiveness stuff*/

/* mobile phone screens */
@media (max-width: 390px) {

}