/* page-wide stuff */

/* 
colors:
page head & dark gray bg & light gray bg text: #4a4a4a
cream: #F6EEC4
cream text: #1E5451
dark gray bg text & light gray bg: #e5e5e5
*/

html {
    font-size: 40px;
}

body {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #020202;
    height: 100vh;
    margin: 0;
    padding: 0;

}


ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    
}

/* hook page stuff */

#pageone {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 18px;
    background-color: #F6EEC4;
}

#headerwrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0;
    margin: 0;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

#pagetitle {
    font-size: 1em;
    font-weight: bold;
    color: #4a4a4a;
}

#navlist {
    font-size: 1em;
    font-weight: lighter;
    color: #4a4a4a
}

.navlink {
    position: relative;
}

.navlink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.navlink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.hookpara {
    font-size: 2.4em;
    color: #1E5451;
    text-align: center;
    padding: 0;
    margin: .5em 0 .5em 0;
}
/*why page stuff*/

#whypage {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    min-height: 100vh;
    max-width: 100%;
    margin: 0px;
    padding: 18px;
    background-color: #4a4a4a;
    justify-content: center;
}

.whypara {
    font-size: 1.5em;
    color: #e5e5e5;
    text-align: center;
}

/* my work page stuff*/

#myworkpage {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 18px;
    background-color:#e5e5e5;
    align-items: center;
}

.myworkhead {
    font-size: 1.5em;
    font-weight: bolder;
    color: #4a4a4a; 
}

/* who page stuff */

#whopage {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 18px;
    background-color: #4a4a4a;
    justify-content: center;
    align-items: center;
}

.whotext {
    width: 150ch;
    height: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.whoparaone {
    font-size: 1.25em;
    color: #e5e5e5;
    text-align: center;
}

.doforyouhead {
    font-size: 1.25em;
    font-weight: bold;
    color: #e5e5e5;
    text-decoration: underline;
    margin: 0px;
    padding: 12px;
}

.doforyoutext {
    font-size: 1em;
    color: #e5e5e5;
    text-align: center;
}




/* contact page stuff */

#contactpage {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    min-height: 100vh;
    max-width: 100%;
    padding: 26px;
    background-color: #F6EEC4;
    justify-content: center;
}

.contactpara {
    text-align: center;
    font-size: 1.5em;
    color: #1E5451;
    margin-top: 18px; 
    padding: 18px;   
}

.socialscontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    max-width: 100%;
    border-top: 2px #1E5451 solid;
    margin: auto 12px auto 12px;
    padding: 24px;
}

.socialslistone {
    color:#1E5451;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin: 26px auto auto 18px;
    text-align: center;
}

.socialslisttwo {
    color:#1E5451;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin: 26px 18px auto auto;
    text-align: center;
}

.sociallink {
    position: relative;
}

.sociallink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.sociallink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* footer */

footer {
    display: flex;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
    color: #e5e5e5;
    font-size: .5em;
    padding: 18px;
}


/*responsiveness stuff*/

/* xs phone screen */

@media (min-width: 280px) {

    li {
        margin: 6px;
    }


    #headerwrapper {
        flex-flow: column nowrap;
    }

   
    #pagetitle {
        font-size: 14px;
    }

    #pagenav {
        font-size: 12px;
    }

    .hookpara {
        font-size: 26px;
        margin-top: 4em;
    }

    .whypagetext {
        font-size: 12px;
    }

    .myworkhead {
        font-size: 18px;
    }

    .whoparaone {
        font-size: 14px;
    }

    .doforyouhead {
        font-size: 18px;
    }

    .doforyoutext {
        font-size: 14px;
    }

    .contactpara {
        font-size: 16px;
    }

    .socialscontainer {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }   
}

/* small-medium phone screens */
@media (min-width: 360px) {

    li {
        margin: 6px;
    }


    #headerwrapper {
        flex-flow: column nowrap;
    }

   
    #pagetitle {
        font-size: 20px;
    }

    #pagenav {
        font-size: 20px;

    }

    .hookpara {
        font-size: 36px;
        margin-top: 2em;
    }

    .whypagetext {
        font-size: 20px;
    }

    .myworkhead {
        font-size: 24px;
    }

    .whoparaone {
        font-size: 20px;
    }

    .doforyouhead {
        font-size: 24px;
    }

    .doforyoutext {
        font-size: 20px;
    }

    .contactpara {
        font-size: 24px;
    }

    .socialscontainer {
        font-size: 18px;
    }

    footer {
        font-size: 16px;
    }   
}

/* medium-large phone screens, small tablets */
@media (min-width: 540px) {

    li {
        margin: 12px;
    }


    #headerwrapper {
        flex-flow: column nowrap;
    }

   
    #pagetitle {
        font-size: 22px;
    }

    #pagenav {
        font-size: 22px;
    }

    .hookpara {
        font-size: 48px;
        margin-top: 2.5em;
    }

    .whypagetext {
        font-size: 22px;
    }

    .myworkhead {
        font-size: 26px;
    }

    .whoparaone {
        font-size: 26px;
    }

    .doforyouhead {
        font-size: 26px;
    }

    .doforyoutext {
        font-size: 24px;
    }

    .contactpara {
        font-size: 30px;
    }

    .socialscontainer {
        font-size: 20px;
    }

    footer {
        font-size: 18px;
    }   
}

/* tablets */

@media (min-width: 820px) {
    #headerwrapper {
        flex-flow: column nowrap;
    }
}

/* small laptops */

@media (min-width: 1024px) {

    li {
        margin: 8px;
    }

    #headerwrapper {
        flex-flow: row nowrap;
    }
    
    #pagetitle {
        font-size: 32px;
    }

    #pagenav {
        font-size: 32px;
    }

    .hookpara {
        font-size: 58px;
        margin-top: 2em;
    }

    .whypagetext {
        font-size: 36px;
    }

    .myworkhead {
        font-size: 32px;
    }

    .whoparaone {
        font-size: 36px;
    }

    .doforyouhead {
        font-size: 46px;
    }

    .doforyoutext {
        font-size: 32px;
    }

    .contactpara {
        font-size: 56px;
    }

    .socialscontainer {
        font-size: 42px;
    }

    footer {
        font-size: 16px;
    }   

}

/* everything else */

@media (min-width: 1250px) {
    
    li {
        margin: 12px;
    }

    #headerwrapper {
        flex-flow: row nowrap;
    }
    
    #pagetitle {
        font-size: 40px;
    }

    #pagenav {
        font-size: 40px;
    }

    .hookpara {
        font-size: 96px;
        margin-top: .5em;
    }

    .whypagetext {
        font-size: 40px;
    }

    .myworkhead {
        font-size: 48px;
    }

    .whoparaone {
        font-size: 44px;
    }

    .doforyouhead {
        font-size: 48px;
    }

    .doforyoutext {
        font-size: 36px;
    }

    .contactpara {
        font-size: 60px;
    }

    .socialscontainer {
        font-size: 46px;
    }

    footer {
        font-size: 18px;
    }   
}